/* Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved. */
/* SPDX-License-Identifier: Apache-2.0 */

.btn, .form-control, .custom-select, select {
  border-radius: 0;
}

.vh-8 {
  min-height: 8;
}

.vh-10 {
  min-height: 10vh;
}

.vh-20 {
  min-height: 20vh;
}

.vh-30 {
  min-height: 30vh;
}

.vh-40 {
  min-height: 40vh;
}

.vh-50 {
  min-height: 50vh;
}

.vh-60 {
  min-height: 60vh;
}

.vh-70 {
  min-height: 70vh;
}

.vh-80 {
  min-height: 80vh;
}

.vh-90 {
  min-height: 90vh;
}

.lead-xl {
  font-size: 2.0rem;
}

.lead-lg {
  font-size: 1.5rem;
}

.lead-m {
  font-size: 1.1rem;
}

.lead-s, .lead-sm {
  font-size: 1.0rem;
}

.lead-xs {
  font-size: 0.9rem;
}

.lead-xxs {
  font-size: 0.8rem;
}

.lead-s {
  font-weight: 400;
}

.lead-xl, .lead-lg {
  font-weight: 300;
}

.lead-sm, .lead-xs, .lead-xxs {
  font-weight: 200;
}

.knowledge-graph {
  min-height: 70vh;
}

.popover {
  border-radius: 0;
  max-width: 70%;
}

/* Absolute Center Spinner */
.loading, .loading-3, .loading-4 {
  position: fixed;
  z-index: 999;
  height: 4em;
  width: 4em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.loading-3 {
  height: 3em;
  width: 3em;
}

.loading-4 {
  height: 4em;
  width: 4em;
}