
<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:w="urn:schema=s-microsoft-com:office:word" xmlns:m="http://schemas.microsoft.com/office/2004/12/omml" xmlns="http://www.w3.org/TR/REC-html40">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="Generator" content="Microsoft Word 15 (filtered medium)">
<style>
    @font-face {
        font-family: "Cambria Math";
        panose-1: 2 4 5 3 5 4 6 3 2 4;
    }

    @font-face {
        font-family: DengXian;
        panose-1: 2 1 6 0 3 1 1 1 1 1;
    }

    @font-face {
        font-family: Calibri;
        panose-1: 2 15 5 2 2 2 4 3 2 4;
    }

    @font-face {
        font-family: "@DengXian";
        panose-1: 2 1 6 0 3 1 1 1 1 1;
    }

    @font-face {
        font-family: "Amazon Ember";
        panose-1: 2 11 6 3 2 2 4 2 2 4;
    }

    p.MsoNormal,
    li.MsoNormal,
    div.MsoNormal {
        margin: 0in;
        margin-bottom: .0001pt;
        font-size: 12.0pt;
        font-family: "Calibri", sans-serif;
    }

    h2 {
        mso-style-priority: 9;
        mso-style-link: "Heading 2 Char";
        mso-margin-top-alt: auto;
        margin-right: 0in;
        mso-margin-bottom-alt: auto;
        margin-left: 0in;
        font-size: 18.0pt;
        font-family: "Calibri", sans-serif;
        font-weight: bold;
    }

    a,
    span.MsoHyperlink {
        mso-style-priority: 99;
        color: #0563C1;
    }

    span.EmailStyle17 {
        mso-style-type: personal-compose;
        font-family: "Calibri", sans-serif;
        color: windowtext;
    }

    span.Heading2Char {
        mso-style-name: "Heading 2 Char";
        mso-style-priority: 9;
        mso-style-link: "Heading 2";
        font-family: "Calibri", sans-serif;
        font-weight: bold;
    }

    .MsoChpDefault {
        mso-style-type: export-only;
        font-family: "Calibri", sans-serif;
    }

    @page WordSection1 {
        size: 8.5in 11.0in;
        margin: 1.0in 1.0in 1.0in 1.0in;
    }

    div.WordSection1 {
        page: WordSection1;
    }
</style>
</head>
<body lang="EN-US" link="#0563C1" vlink="#954F72">
<div class="WordSection1">
    <h2>
        <span style="font-family:'Amazon Ember',sans-serif;color:#333333">You're invited to work on a labeling project.
            <o:p></o:p>
        </span>
    </h2>
    <p style="font-variant-ligatures: normal;font-variant-caps: normal;orphans:2;text-align:start;widows:2;-webkit-text-stroke-width: 0px;text-decoration-style:initial;text-decoration-color:initial;word-spacing:0px;padding-bottom:30px">
        <span style="font-size:13.5pt;font-family:'Amazon Ember',sans-serif;color:#333333">You will need this user name and temporary password to log in the first time.
            <o:p></o:p>
        </span>
    </p>
    <p style="font-variant-ligatures: normal;font-variant-caps: normal;orphans:2;text-align:start;widows:2;-webkit-text-stroke-width: 0px;text-decoration-style:initial;text-decoration-color: initial;word-spacing:0px">
        <span style="font-size:13.5pt;font-family:'Amazon Ember',sans-serif;color:#333333">User name:
            <b>{username}</b>
            <o:p></o:p>
        </span>
    </p>
    <p style="font-variant-ligatures: normal;font-variant-caps: normal;orphans:2;text-align:start;widows:2;-webkit-text-stroke-width: 0px;text-decoration-style:initial;text-decoration-color:initial;word-spacing:0px">
        <span style="font-size:13.5pt;font-family:'Amazon Ember',sans-serif;color:#333333">Temporary password:
            <b>{####}</b>
            <o:p></o:p>
        </span>
    </p>
    <p style="font-variant-ligatures: normal;font-variant-caps: normal;orphans:2;text-align:start;widows:2;-webkit-text-stroke-width: 0px;text-decoration-style:initial;text-decoration-color:initial;word-spacing:0px">
        <span style="font-size:13.5pt;font-family:'Amazon Ember',sans-serif;color:#333333">Open the link below to log in:
            <o:p></o:p>
        </span>
    </p>
    <p style="font-variant-ligatures: normal;font-variant-caps: normal;orphans:2;text-align:start;widows:2;-webkit-text-stroke-width: 0px;text-decoration-style:initial;text-decoration-color:initial;word-spacing:0px;padding-bottom:30px">
        <span style="font-size:13.5pt;font-family:'Amazon Ember',sans-serif;color:#007DBC">
            <a href="%URI%" target="_blank">%URI%</a>
            
            <o:p></o:p>
        </span>
    </p>
    <p style="font-variant-ligatures: normal;font-variant-caps: normal;orphans:2;text-align:start;widows:2;-webkit-text-stroke-width: 0px;text-decoration-style:initial;text-decoration-color:initial;word-spacing:0px">
        <span style="font-size:13.5pt;font-family:'Amazon Ember',sans-serif;color:#333333">After you log in with your temporary password, you are required to create a new one.
            <o:p></o:p>
        </span>
    </p>
    <p class="MsoNormal">
        <span style="font-size:11.0pt">
            <o:p>&nbsp;</o:p>
        </span>
    </p>
</div>
</body>
</html>
